{% extends "core/base.html" %}

{% block content %}
            <h1>JUGADORES NUEVOS</h1>
            <h2> Anotar Jugador</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>

        <div>
            <button><a href="{% url 'cliente:index' %}">Volver al Inicio</a></button>
        </div>
        <div>
            <button><a href="{% url 'admin:index' %}">Administración</a></button>
        </div>
{% endblock content %}

<footer>
    <p>© 2025 Calcio 2.1. Todos los derechos reservados.</p>
</footer>   