<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TeLaArmo</title>
    </head>
    <body>
        <h1>Clientes</h1>
        <ul>
            {% for cliente in clientes %}
            <h2>Cliente</h2>
            <li>{{ cliente.nombre }} {{ cliente.apellido }}</li>
            {% endfor %}
        </ul>
        <button><a href="{% url 'core:index' %}">Ir a Alineaciones</a></button>
    </body>
</html>   