{% load static %}
{% load pwa %}
{% progressive_web_app_meta %}

<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="theme-color" content="#0d6efd">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>
        {% block title %}
           
        {% endblock %}    
    </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static  'core/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        {% include "core/navbar.html" %}
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            {% block content %}
    
            {% endblock content %}
            
            {% include "core/footer.html" %}
        
        </div>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'core/js/scripts.js' %}"></script>
        <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{% static 'js/serviceworker.js' %}")
                .then(function(registration) {
                    console.log('Service Worker registrado con éxito:', registration.scope);
            })
            .catch(function(error) {
                console.log('Error al registrar el Service Worker:', error);
            });
        }
        </script>
    </body>
</html>
